.DeviceThumb {
  width: 25%;
  float: left;
  min-height: 180px;
}

.DeviceThumb.Center {
  padding: 0 .45em;
}

.DeviceThumb.Left {
  padding: 0 .45em 0 0;
}

.DeviceThumb.Right {
  padding: 0 0 0 .45em;
}

.ImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
}

.Image {
  width: 125px;
  max-width: 125px;
  height: 125px;
  max-height: 125px;
}

@media(max-width: 720px) {
  .DeviceThumb {
    width: 100%;
    float: unset;
    margin: 1em 0 0 0;
  }

  .DeviceThumb.Right { padding: 0; }
  .DeviceThumb.Center { padding: 0; }
  .DeviceThumb.Left { padding: 0; }
}
