.Heading {
  display: block;
  font-family: 'Roboto', sans-serif;
  word-wrap: break-word;
}

h1.Heading {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5;
}

h2.Heading {
  font-size: 60px;
  font-weight: 300;
  letter-spacing: -0.5;
}

h3.Heading {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0;
}

h4.Heading {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.25;
}

h5.Heading {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
}

h6.Heading {
  font-size: 20px;
  font-weight: 500;
}
