.IconButton {
  position: relative;
  border: none;
  border-radius: 4px;
  vertical-align: center;
  text-align: center;
  padding: .5em;
  font-size: ".8rem";
  overflow: hidden;
  outline: none;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

}
