.AppbarToggleButton {
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: opacity 0.4s;
  pointer-events: none;
}

.AppbarToggleButton.Visible {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
